@font-face {
    font-family: 'LifeCraft';
    src: url('fonts/LifeCraft_Font.ttf');
}
* {
box-sizing: border-box;
font-family: 'LifeCraft';
}
html {
    background: url('images/main-background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 2vmin;
}
body {
    height: 90vh;
}
  /* About */
#about-container {
    text-align: center;
    background-color: #222;
    opacity: 0.99;
    width: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
  }
  #about {
    display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  
  #about-container h1 {
    color: #ffb800;
    -webkit-text-stroke: 1px #ce6529;
    font-size: 3em;
    margin: 0;
  }
  .about-contents {
    display: flex;
  }
  #about img {
    width: 65%;
    position: relative;
    border-radius: 3%;
  }
  .portfolio,
  h1,
  h3,
  p {
    color: #ffb800;
  }
  h3 {
    text-align: left;
    font-size: 1.8em;
  }
  p {
    font-size: 1.3em;
  }
  @media (max-width: 1100px) {
      #about img {
        width: 33%;
      }
      #description-skills h3 {
          text-align: center;
      }
      .about-contents {
          display: flex;
          flex-direction: column;
      }
  }